div.selector,div.selector span,div.checker span,div.radio span,div.uploader,div.uploader span.action,div.button,div.button span{
background-image:url(../../images/signinup/sprite2.png);
background-repeat:no-repeat;
-webkit-font-smoothing:antialiased
}
.selector,.radio,.checker,.uploader,.button,.selector *,.radio *,.checker *,.uploader *,.button *{
margin:0;
padding:0
}
input.text,input.email,input.password,textarea.uniform{
font-size:12px;
font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
font-weight:normal;
padding:3px;
color:#777;
background:url(../../images/signinup/bg-input-focus.png) repeat-x 0 0;
background:url(../../images/signinup/bg-input.png) repeat-x 0 0;
border-top:solid 1px #aaa;
border-left:solid 1px #aaa;
border-bottom:solid 1px #ccc;
border-right:solid 1px #ccc;
-webkit-border-radius:3px;
-moz-border-radius:3px;
border-radius:3px;
outline:0
}
input.text:focus,input.email:focus,input.password:focus,textarea.uniform:focus{
-webkit-box-shadow:0 0 4px rgba(0,0,0,0.3);
-moz-box-shadow:0 0 4px rgba(0,0,0,0.3);
box-shadow:0 0 4px rgba(0,0,0,0.3);
border-color:#999;
background:url(../../images/signinup/bg-input-focus.png) repeat-x 0 0
}
div.selector{
background-position:-483px -130px;
line-height:26px;
height:26px
}
div.selector span{
background-position:right 0;
height:26px;
line-height:26px
}
div.selector select{
top:0;
left:0
}
div.selector:active,div.selector.active{
background-position:-483px -156px
}
div.selector:active span,div.selector.active span{
background-position:right -26px
}
div.selector.focus,div.selector.hover,div.selector:hover{
background-position:-483px -182px
}
div.selector.focus span,div.selector.hover span,div.selector:hover span{
background-position:right -52px
}
div.selector.focus:active,div.selector.focus.active,div.selector:hover:active,div.selector.active:hover{
background-position:-483px -208px
}
div.selector.focus:active span,div.selector:hover:active span,div.selector.active:hover span,div.selector.focus.active span{
background-position:right -78px
}
div.selector.disabled{
background-position:-483px -234px
}
div.selector.disabled span{
background-position:right -104px
}
div.checker{
width:19px;
height:19px
}
div.checker input{
width:19px;
height:19px
}
div.checker span{
background-position:0 -260px;
height:19px;
width:19px
}
div.checker:active span,div.checker.active span{
background-position:-19px -260px
}
div.checker.focus span,div.checker:hover span{
background-position:-38px -260px
}
div.checker.focus:active span,div.checker:active:hover span,div.checker.active:hover span,div.checker.focus.active span{
background-position:-57px -260px
}
div.checker span.checked{
background-position:-76px -260px
}
div.checker:active span.checked,div.checker.active span.checked{
background-position:-95px -260px
}
div.checker.focus span.checked,div.checker:hover span.checked{
background-position:-114px -260px
}
div.checker.focus:active span.checked,div.checker:hover:active span.checked,div.checker.active:hover span.checked,div.checker.active.focus span.checked{
background-position:-133px -260px
}
div.checker.disabled span,div.checker.disabled:active span,div.checker.disabled.active span{
background-position:-152px -260px
}
div.checker.disabled span.checked,div.checker.disabled:active span.checked,div.checker.disabled.active span.checked{
background-position:-171px -260px
}
div.radio{
width:18px;
height:18px
}
div.radio input{
width:18px;
height:18px
}
div.radio span{
height:18px;
width:18px;
background-position:0 -279px
}
div.radio:active span,div.radio.active span{
background-position:-18px -279px
}
div.radio.focus span,div.radio:hover span{
background-position:-36px -279px
}
div.radio.focus:active span,div.radio:active:hover span,div.radio.active:hover span,div.radio.active.focus span{
background-position:-54px -279px
}
div.radio span.checked{
background-position:-72px -279px
}
div.radio:active span.checked,div.radio.active span.checked{
background-position:-90px -279px
}
div.radio.focus span.checked,div.radio:hover span.checked{
background-position:-108px -279px
}
div.radio.focus:active span.checked,div.radio:hover:active span.checked,div.radio.focus.active span.checked,div.radio.active:hover span.checked{
background-position:-126px -279px
}
div.radio.disabled span,div.radio.disabled:active span,div.radio.disabled.active span{
background-position:-144px -279px
}
div.radio.disabled span.checked,div.radio.disabled:active span.checked,div.radio.disabled.active span.checked{
background-position:-162px -279px
}
div.uploader{
background-position:0 -297px;
height:28px
}
div.uploader span.action{
background-position:right -409px;
height:24px;
line-height:24px
}
div.uploader span.filename{
height:24px;
margin:2px 0 2px 2px;
line-height:24px
}
div.uploader.focus,div.uploader.hover,div.uploader:hover{
background-position:0 -353px
}
div.uploader.focus span.action,div.uploader.hover span.action,div.uploader:hover span.action{
background-position:right -437px
}
div.uploader.active span.action,div.uploader:active span.action{
background-position:right -465px
}
div.uploader.focus.active span.action,div.uploader:focus.active span.action,div.uploader.focus:active span.action,div.uploader:focus:active span.action{
background-position:right -493px
}
div.uploader.disabled{
background-position:0 -325px
}
div.uploader.disabled span.action{
background-position:right -381px
}
div.button{
background-position:0 -523px
}
div.button span{
background-position:right -643px
}
div.button.focus,div.button:focus,div.button:hover,div.button.hover{
background-position:0 -553px
}
div.button.focus span,div.button:focus span,div.button:hover span,div.button.hover span{
background-position:right -673px
}
div.button.active,div.button:active{
background-position:0 -583px
}
div.button.active span,div.button:active span{
background-position:right -703px;
color:#555
}
div.button.disabled,div.button:disabled{
background-position:0 -613px
}
div.button.disabled span,div.button:disabled span{
background-position:right -733px;
color:#bbb;
cursor:default
}
div.button{
height:30px
}
div.button span{
margin-left:13px;
height:22px;
padding-top:8px;
font-weight:bold;
font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
font-size:12px;
letter-spacing:1px;
text-transform:uppercase;
padding-left:2px;
padding-right:15px
}
div.selector{
width:190px;
font-size:12px
}
div.selector select{
min-width:190px;
font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
font-size:12px;
border:solid 1px #fff
}
div.selector span{
padding:0 25px 0 2px;
cursor:pointer
}
div.selector span{
color:#666;
width:158px;
text-shadow:0 1px 0 #fff
}
div.selector.disabled span{
color:#bbb
}
div.checker{
margin-right:5px
}
div.radio{
margin-right:3px
}
div.uploader{
width:190px;
cursor:pointer
}
div.uploader span.action{
width:85px;
text-align:center;
text-shadow:#fff 0 1px 0;
background-color:#fff;
font-size:11px;
font-weight:bold
}
div.uploader span.filename{
color:#777;
width:82px;
border-right:solid 1px #bbb;
font-size:11px
}
div.uploader input{
width:190px
}
div.uploader.disabled span.action{
color:#aaa
}
div.uploader.disabled span.filename{
border-color:#ddd;
color:#aaa
}
.selector,.checker,.button,.radio,.uploader{
display:-moz-inline-box;
display:inline-block;
vertical-align:middle;
zoom:1;
*display:inline
}
.selector select:focus,.radio input:focus,.checker input:focus,.uploader input:focus{
outline:0
}
div.button a,div.button button,div.button input{
position:absolute
}
div.button{
cursor:pointer;
position:relative
}
div.button span{
display:-moz-inline-box;
display:inline-block;
line-height:1;
text-align:center
}
div.selector{
position:relative;
padding-left:10px;
overflow:hidden
}
div.selector span{
display:block;
overflow:hidden;
text-overflow:ellipsis;
white-space:nowrap
}
div.selector select{
position:absolute;
opacity:0;
filter:alpha(opacity:0);
height:25px;
border:none;
background:none
}
div.checker{
position:relative
}
div.checker span{
display:-moz-inline-box;
display:inline-block;
text-align:center
}
div.checker input{
opacity:0;
filter:alpha(opacity:0);
display:inline-block;
background:none
}
div.radio{
position:relative
}
div.radio span{
display:-moz-inline-box;
display:inline-block;
text-align:center
}
div.radio input{
opacity:0;
filter:alpha(opacity:0);
text-align:center;
display:inline-block;
background:none
}
div.uploader{
position:relative;
overflow:hidden;
cursor:default
}
div.uploader span.action{
float:left;
display:inline;
padding:2px 0;
overflow:hidden;
cursor:pointer
}
div.uploader span.filename{
padding:0 10px;
float:left;
display:block;
overflow:hidden;
text-overflow:ellipsis;
white-space:nowrap;
cursor:default
}
div.uploader input{
opacity:0;
filter:alpha(opacity:0);
position:absolute;
top:0;
right:0;
bottom:0;
float:right;
height:25px;
border:none;
cursor:default
}
#signup2{
background:url(../../images/signinup/bg_glow.jpg) no-repeat center center
}
#signup2 #content{
border-top:none;
min-height:400px;
width:960px;
margin-top:20px
}
#signup2 h2{
font-size:19px;
text-align:center;
line-height:56px
}
#signup2 .or-separator{
width:448px;
height:23px;
margin:0 auto;
clear:both;
line-height:23px
}
#signup2 .fb-button{
margin-bottom:13px
}
#signup2 #prompt{
padding:14px 8px;
line-height:18px;
margin:0 0 10px 0;
border:1px solid #ecd89b;
text-align:center;
font-size:12px;
font-weight:bold;
color:#393c3d;
background:#fff9e6;
text-shadow:0 1px 1px #fff;
border-radius:5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
box-shadow:inset 0 0 0 1px white;
-moz-box-shadow:inset 0 0 0 1px white;
-webkit-box-shadow:inset 0 0 0 1px white;
background:#fff3ce;
background:-webkit-gradient(linear,center top,center bottom,from(#fff9e5),to(#fff3ce));
background:-moz-linear-gradient(top,#fff9e5,#fff3ce);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffff9e5',endColorstr='#fffff3ce');
font-family:"HelveticaNeue","Helvetica Neue","HelveticaNeueRoman","HelveticaNeue-Roman","Helvetica Neue Roman",'TeXGyreHerosRegular',"Helvetica","Tahoma","Geneva","Arial",sans-serif
}
#signup2 #prompt a{
color:#1d95cb
}
#signup2 #prompt li{
font-weight:normal
}
#section_signin,#section_signup{
padding:20px 0 0 0
}
#section_signin .button-glossy,#section_signup .button-glossy{
font-size:1.5em
}
#section_signin .fb-button,#section_signup .fb-button{
left:24%
}
#section_signin h1,#section_signup h1{
font-size:46px;
line-height:50px;
font-weight:500;
text-align:center;
margin:0 0 20px
}
#section_signup h1{
background:url(../../images/signinup/h_signup.gif) no-repeat right;
width:450px;
text-align:left;
margin:0 auto 20px auto
}
#signInBox{
width:450px;
height:371px;
margin:0 auto 24px auto;
background:url(../../images/signinup/bg_sign_in_box.png) no-repeat
}
#signInBox a.forgotPassword{
margin:51px 12px 5px;
display:inline-block
}
.smallBox{
width:450px;
height:87px;
background:url(../../images/signinup/bg_small_box.gif) no-repeat;
margin:0 auto
}
.smallBox .pad{
padding:13px 25px 0 25px
}
.smallBox h2{
line-height:40px;
text-align:center;
font-family:"HelveticaNeue","Helvetica Neue","HelveticaNeueRoman","HelveticaNeue-Roman","Helvetica Neue Roman",'TeXGyreHerosRegular',"Helvetica","Tahoma","Geneva","Arial",sans-serif
}
.smallBox h2 a{
text-decoration:underline
}
.smallBox h2 a:hover{
text-decoration:none
}
.textInput{
width:406px;
height:44px;
position:relative;
margin:12px auto 0 auto;
cursor:text
}
.textInput input,.textInput label.labelBlur{
font-family:"Lucida Grande","Lucida Sans","Lucida Sans Unicode",Verdana,Arial,Helvetica,sans-serif;
font-size:15px
}
.textInput input{
border:none;
outline:none;
background:none;
width:340px;
position:absolute;
left:0;
margin:5px 0 0 4px;
padding:7px 0 10px 6px
}
.textInput label.labelBlur{
padding-left:11px;
padding:12px 0 10px 10px
}
.textInput span,.textInput label.error{
height:54px
}
.textInput span{
display:block;
opacity:0;
-ms-filter:"alpha(opacity=0)";
filter:alpha(opacity=0);
position:absolute;
margin:-5px 0 0 -300px;
width:200px;
background:url(../../images/signinup/bg_form_alert.png) no-repeat
}
.textInput label.error{
text-shadow:0 -1px 0 #ee9292;
line-height:18px;
font-size:14px;
color:#fff!important;
padding:0 30px 0 15px;
width:170px;
vertical-align:middle;
display:table-cell
}
#inputEmail{
background:url(../../images/signinup/input_email.gif) no-repeat
}
#inputPassword{
background:url(../../images/signinup/input_password.gif) no-repeat
}
#inputConfirmPassword{
height:auto;
margin-top:0
}
#inputConfirmPassword .hidden{
width:406px;
height:44px;
position:relative;
background:url(../../images/signinup/input_password_confirm.gif) no-repeat;
overflow:hidden;
height:0;
margin-top:0
}
#inputLast,#inputFirst{
background:url(../../images/signinup/input_name.gif) no-repeat
}
.formActions{
padding:56px 0 0 22px
}
.formActions label{
display:block;
width:240px;
float:right;
color:#393c3d;
padding:10px 0 0 0;
font-size:13px
}
.formActions label span{
float:left;
line-height:22px
}
.formActions .checker{
float:left
}
#signUpBox{
width:450px;
margin:0 auto 24px auto;
background:url(../../images/signinup/bg_sign_up_box.png) no-repeat
}
#signUpBox .formActions{
background:url(../../images/signinup/bg_sign_up_box_bottom.png) no-repeat bottom;
width:450px;
height:153px;
padding:0;
clear:both
}
#signUpBox .formActions .pad{
padding:47px 0 0 22px
}
#signUpBox .formActions label{
width:196px
}
#signUpBox .formActions p{
clear:both;
color:#adadad;
padding:15px 5px
}
.or-separator{
background:url(../../images/fb/fb-hr.png) center 50% no-repeat;
color:#959595;
font-size:25px;
text-align:center;
position:relative;
letter-spacing:1px
}
#bSignIn{
min-width:116px;
float:left
}
#bCreateAccount{
min-width:195px;
float:left
}
#signup{
margin:65px 0;
width:973px;
border:1px solid #a0a0a0;
position:relative;
background:url(../../images/login-gradient.png) left top repeat-x;
-webkit-border-radius:8px;
-moz-border-radius:8px;
border-radius:8px;
text-align:center;
padding:15px 0
}
#fb-button-container{
float:right;
min-width:255px
}
#fb-button-container .fb-button{
margin:50px auto 0;
left:5%
}
#fb-plugin{
width:570px;
margin:15px auto
}
#signup h1{
color:#5872a7;
font-weight:bold;
font-size:26px
}
#signup h1 span{
font-size:38px
}
#signup #account-message{
margin:8px 0 5px;
font-size:15px
}
#forgot_password_container{
width:406px;
height:228px;
padding:25px;
color:#979797;
margin:50px auto 0;
border:1px solid #ccc;
background:#efefef;
background:-webkit-gradient(linear,center top,center bottom,from(white),to(#efefef));
background:-moz-linear-gradient(top,white,#efefef);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffefefef');
box-shadow:0 2px 3px 0 rgba(0,0,0,0.3),inset 0 0 0 1px white,0 0 0 rgba(255,255,255,0.1),0 0 0 transparent,0 0 0 transparent;
-moz-box-shadow:0 2px 3px 0 rgba(0,0,0,0.3),inset 0 0 0 1px white,0 0 0 rgba(255,255,255,0.1),0 0 0 transparent,0 0 0 transparent;
-webkit-box-shadow:0 2px 3px 0 rgba(0,0,0,0.3),inset 0 0 0 1px white,0 0 0 rgba(255,255,255,0.1),0 0 0 transparent,0 0 0 transparent;
border-radius:6px;
-moz-border-radius:6px;
-webkit-border-radius:6px;
font-family:"HelveticaNeue","Helvetica Neue","HelveticaNeueRoman","HelveticaNeue-Roman","Helvetica Neue Roman",'TeXGyreHerosRegular',"Helvetica","Tahoma","Geneva","Arial",sans-serif
}
#forgot_password_container h1,#forgot_password_container h2{
color:#393c3d;
text-align:center;
margin-bottom:20px;
font-weight:normal
}
#forgot_password_container h1{
font-size:19px
}
#forgot_password_container h2{
font-size:18px;
line-height:34px
}
#forgot_password_container h2 a{
text-decoration:underline
}
#forgot_password_container h2 a:hover{
text-decoration:none
}
#forgot_password_container .textInput{
margin-bottom:10px
}
#forgot_password_container a.cancel{
margin-left:8px;
display:none
}
#forgot_password_container .or-separator{
width:458px;
margin-left:-25px
}
#forgot_password_container.xhr{
height:172px;
margin:0;
border:0 none;
padding:0;
background:rgba(255,255,255,0);
background:-webkit-gradient(linear,center top,center bottom,from(rgba(255,255,255,0)),to(rgba(255,255,255,0)));
background:-moz-linear-gradient(top,rgba(255,255,255,0),rgba(255,255,255,0));
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff',endColorstr='#00ffffff');
box-shadow:0 0 0 rgba(255,255,255,0);
-moz-box-shadow:0 0 0 rgba(255,255,255,0);
-webkit-box-shadow:0 0 0 rgba(255,255,255,0)
}
#forgot_password_container.xhr a.cancel{
display:inline
}
#forgot_password_container.xhr .or-separator,#forgot_password_container.xhr h2.signIn{
display:none
}
*+html #forgot_password_container input.button-glossy{
min-width:auto!important
}
@font-face{
font-family:'SignPainterMedium';
src:url(../../fonts/signpainter/signpah1-webfont.eot);
src:local('☺'),url(../../fonts/signpainter/signpah1-webfont.woff) format('woff'),url(../../fonts/signpainter/signpah1-webfont.ttf) format('truetype'),url('../../fonts/signpainter/signpah1-webfont.svg#webfontWHUTt4Hx') format('svg');
font-weight:normal;
font-style:normal
}
.signpainter{
font-weight:100;
font-style:normal;
line-height:normal;
font-family:'SignPainterMedium',sans-serif
}
@font-face{
font-family:'SeanRegular';
src:url(../../fonts/sean/sean-webfont.eot);
src:local('☺'),url(../../fonts/sean/sean-webfont.woff) format('woff'),url(../../fonts/sean/sean-webfont.ttf) format('truetype'),url('../../fonts/sean/sean-webfont.svg#webfontewH7csWh') format('svg');
font-weight:normal;
font-style:normal
}
.Sean{
font-weight:normal;
font-style:normal;
line-height:normal;
font-family:'SeanRegular',sans-serif;
font-size-adjust:.39
}

